<app-card [showHeader]="false" [padding]="24">
  <div class="d-flex align-items-start justify-content-between">
    <div>
      <h5 class="mb-1">Statistics</h5>
      <p class="text-muted mb-2">Revenue and Sales</p>
    </div>
    <select class="form-select rounded-3 form-select-sm w-auto" [(ngModel)]="selectType" (change)="onOptionSelected()">
      <option value="today">Today</option>
      <option value="week">Weekly</option>
      <option value="month">Monthly</option>
    </select>
  </div>
  <div id="chart">
    <apx-chart
      [series]="chartOptions.series"
      [chart]="chartOptions.chart"
      [dataLabels]="chartOptions.dataLabels"
      [legend]="chartOptions.legend"
      [xaxis]="chartOptions.xaxis"
      [colors]="chartOptions.colors"
      [stroke]="chartOptions.stroke"
      [grid]="chartOptions.grid"
      [tooltip]="chartOptions.tooltip"
      [markers]="chartOptions.markers"
      [fill]="chartOptions.fill"
    ></apx-chart>
  </div>
</app-card>
